<a href="https://colab.research.google.com/github/Bra-Gabby-Marshal/Python-and-Game-Design/blob/main/Python_%26_Game_Design_Lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **To check if python is installed**

In [ ]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]
Version info.
sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)

In [ ]:
print('Hello, World!')

Hello, World!

In [ ]:
8 + 2

10

#**Python Variables and Strings 1**

Variables are used to store and manipulate data

e.g.
**correct**
my_var
count
lios

**incorrect**
2nd_variable
my-var

In [ ]:
# how to collect sutudent ages together
age = [12, 13, 9, 9]
print(age)

[12, 13, 9, 9]

In [ ]:
# A variable is created the moment you first assign a value to it

x = 5
y = "Lios"

print(x)
print(y)

5
Lios

In [ ]:
#Variable names are case-sensitive

a = "Lilian"
A = "Aarnick"
print(A)

Aarnick

In [ ]:
# For numbers, the + character works as a mathematical operator:

x = 5
y = 10

print(x + y)

15

In [ ]:
# In the print() function, you output multiple variables,
# separated by a comma:

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

**Exercise:**

Create a variable named **carname** and assign the value **Volvo** to it.

In [ ]:
carname = "Volvo"
print(carname)

Volvo

**Escape characters in text**

Escape characters are used to include special character in strings

In [ ]:
print("Escape characters are used to a\n include special character in strings")

Escape characters are used to a
 include special character in strings

In [ ]:
print("This is a line with a\nnew line.")

This is a line with a
new line.

In [ ]:
print("This is a text with a\ttab.")

This is a text with a	tab.

In [ ]:
# The escape character allows you to use double quotes
# when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

**Input Function**

The input() function is used to take user input. It returns the user's input as a string

In [ ]:
user_input = input("Enter your name: ")
print("Hello, " + user_input + "!")

Enter your name: Gabby
Hello, Gabby!

**Assignment**

1. Create a program that asks for your favorite color using the input function!
2. Create a program that asks for your favorite hobby using the input function!

In [ ]:
# Ask for favorite color
color = input("What is your favorite color?")

# Ask for favorite hobby
hobby = input("What is your favorite hobby? ")

print("Your favorite color is : " + color + " It's great to know that your favorite hobby is: " + hobby + " Keep enjoying it!")

What is your favorite color?Yellow
What is your favorite hobby? Football game
Your favorite color is : Yellow It's great to know that your favorite hobby is: Football game Keep enjoying it!

#**Python Variables and Strings 2**

**Indexing and Slicing with Strings**

In [ ]:
# Indexing
my_string = "Hello, World!"
print(my_string[0]) # Output : H
print(my_string[7]) # Output : w
print(my_string[8]) # output : o

**Slicing**

In [ ]:
my_string = "Hello, World!"
print(my_string[0:4]) # Output : Hello
print(my_string[1:5])

In [ ]:
# Example
# Get the characters from the start to position 5
my_string = "Hello, World!"
print(my_string[:5])
print(my_string[:4]) # Output : Hell

# Print from Start to 7 index
print(my_string[2:])

**Use Built-in String Function**

In [ ]:
# e.g
# Using len()
my_string = "Hello, World"
length = len(my_string)
print(length)

# Ex
# Declare a variable and assign a value of your name to it and print out the length of your name
myName = "Sodey Haidor Gabriel"
length = len(myName)
print(length)

12
20

In [ ]:
# Using Split()
my_split = "Daniel, Lilian"
words = my_split.split(', ')
print(words)

# Ex
# Declare a variable and assign two words to it and split the output

['Daniel', 'Lilian']

In [ ]:
# Using join
joined_string = '_'.join(words)
print(joined_string)

# Ex
# Using the above exercise join your words together

Daniel_Lilian

In [ ]:
# Using find()
myString = "Hello, World!"
position = myString.find('World!')
print(position)

7

In [ ]:
# Using count
myString = "Hello, World!"
count = myString.count('l')
print(count)

3

In [ ]:
# Using lower() and swapcase()
a = "Hello, World!"
print(a.upper())
print(a.lower())
print(a.swapcase())

HELLO, WORLD!
hello, world!
hELLO, wORLD!

In [ ]:
# Usiing center(), ljust(), and rjust()
a = "Hello, World!"

# center allignment
center_allignment = a.center(20, '*')
# print(center_allignment)
print(a.center(20, '.'))

# left allignment
print(a.ljust(20, '%'))

# right allignment
print(a.rjust(20, '*'))

...Hello, World!....
Hello, World!%%%%%%%
*******Hello, World!

In [ ]:
# Using replace()
a = "Hello, World!"
my_replace = a.replace('World','Lilian')
print(my_replace)
# print(a.replace('World', 'Lilian'))

Hello, Lilian!

**Print Formatting with Strings**

Print formatting with strings refers to the process of combining variables, expressions, or values with a string to create a formatted output. In Python, there are several ways to format strings, and one of the common approaches is using placeholders or string formatting methods.

In [ ]:
name = 'Seyram Damien'
age = 10

# Using f-strings (formatted string literals)
# readable way to embed expressions inside string literals.
print(f"My name is {name} and I am {age} years old.")

My name is Seyram Damien and I am 10 years old.

In [ ]:
# # Using format()
#  method allows you to insert values into a string using placeholders.
print("My name is {} and I am {} years old.".format(name, age))

My name is Seyram Damien and I am 10 years old.

In [ ]:
# Concatenation
print("My name is " + name + " and I am " + str(age) + " years old.")

My name is Seyram Damien and I am 10 years old.

**Assignment**  

  **20/01/2024**

In [ ]:
# Use the split function to split the below

sentence = 'Me and You'
words = sentence.split()
print(words)

['Me', 'and', 'You']

In [ ]:
# Use the replace funtion to  replace Python to Java in the below

programmin_language = 'Python'
print(programmin_language.replace('Python', 'Java'))

Java

In [ ]:
# Use the count function to count b in the below
my_name = "Gabby"
print(my_name.count('b'))

2

In [ ]:
# Use the f-strings, format() and concatenation to fornat your name and age

# Example
name = "Bra Gabby Marshal"
age = 100

print(f"My name is {name} and I am {age} years old.")

print("My nmae is {} and I am {} years old.".format(name, age))

print("My name is " + name + " and I am " + str(age) + " years old.")

My name is Bra Gabby Marshal and I am 100 years old.
My nmae is Bra Gabby Marshal and I am 100 years old.
My name is Bra Gabby Marshal and I am 100 years old.


# **Working with numbers**

In Python there are three(3) numeric types


*   integer(int)
*   float
*   complex

**Converting Strings into Integers and Floating-Point Values**

In Python, you can convert a string to an integer using the **int()** function and to a floating-point number using the **float()** function.

In [ ]:
# Converting string to integer
string_num = "123"
integer_num = int(string_num)
print(f"string: {string_num}, Integer: {integer_num}")

string: 123, Integer: 123

In [ ]:
# Converting string to float
string_float = "123.45"
float_num = float(string_float)
print(f"string: {string_float}, Float: {float_num}")

string: 123.45, Float: 123.45

In [ ]:
# Converting string to integer
stringNumber = "134"
integerNumber = int(stringNumber)
print(f"String: {stringNumber}, Integer: {integerNumber}")

String: 134, Integer: 134

In [ ]:
# Converting string to float
stringFloat = "345678.9087"
floatNumber = float(stringFloat)
print(f"string: {stringFloat}, Float: {floatNumber}")

string: 345678.9087, Float: 345678.9087

**Operators**

Python supports various operators for performing operations on numbers. Here are some common ones:

In [ ]:
a = 10
b = 5

# Arithmetic operators
addition = a + b
print(addition)

subtraction = a - b
print(subtraction)

multiplication = a * b
print(multiplication)

division = a / b
print(division)

remainder = a % b
print(remainder)

power = a ** b
print(power)

# Comparison Operators
c = 10
d = 10
equal = (c == d)
print(equal)

not_equal = (a != b)
print(not_equal)

greater_than = (a > b)
print(greater_than)

less_than = (a < b)
print(less_than)

15
5
50
2.0
0
100000
True
True
True
False

**Type Conversion**

You can explicitly convert between different types in Python using functions like int(), float(), str(), etc.

In [ ]:
num = 4
num_str = str(num)

num_float = float(num)
print(num_str)
print(num_float)

4
4.0

**Performing Calculations**

Now, let's combine these concepts to perform calculations:*italicized text*

In [ ]:
# Input values as strings
input_num1 = input("Enter the first number: ")
input_num2 = input("Enter the second number: ")

# Convert strings to numbers
num1 = float(input_num1)
num2 = float(input_num2)

# Perform calculations
add_input = (num1 + num2)

print(add_input)

# difference (-)
difference_input = (num1 - num2)
print(difference_input)

# product(*)
product_input = (num1 * num2)
print(product_input)

# quotient(/)
quotient_input = (num1 / num2)
print(quotient_input)

Enter the first number: 4455
Enter the second number: 6465757
6470212.0
-6461302.0
28804947435.0
0.0006890144495068404

**Project** 27th January, 2024

Think of numbers as ingredients for a recipe. We can mix them, change them, and use them in calculations, just like in a cooking recipe. Let's convert your age from a word to a number and do some math!

Assume your age as a word is "twenty-five". We'll convert this word to a number and perform some calculations:

In [ ]:
#  Convert age from word to number
age_word = "twenty-five"
age_number = None

# Conversion logic (a simple mapping)
word_to_number_mapping = {
    'zero ' : 0, 'one':1, 'two':2, 'three':3, 'four':4, 'five': 5, 'six':6, 'seven':7,
    'eight':8, 'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'thirteen': 13, 'fourteen': 14,
    'fifteen': 15, 'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19,
    'twenty': 20, 'thirty': 30, 'forty': 40, 'fifty': 50
}
#  Split the age word into parts
parts = age_word.split('-')

# Convert each part to a number and sum them up
age_number = sum(word_to_number_mapping[part] for part in parts)

# Perform some calculations
double_age = age_number * 2
plus_age = age_number + 2
half_age = age_number / 2

# Display the results
print(f"Your age as a number: {age_number}")
print(f"Double your are: {double_age}")
print(f"Half your age: {half_age}")

Your age as a number: 25
Double your are: 50
Half your age: 12.5

# **Python Data Types**

a description of a set of values and a set of allowed operations on values

 **Examples**


*   int
*   bool
*   float
*   str
*   double
*   range
*   dict
*   complex
*   set
*   bytes etc
*   List

**List in Python**

They are used to store multiple items in a single variable

In [ ]:
# Example of list
name = ['Daniel', "Aarnick", "Damien", "Lilian", "Lois"]
vegetables = ["tomato","Carrot", "Onion"]
print(name)
print(vegetables)

['Daniel', 'Aarnick', 'Damien', 'Lilian', 'Lois']
['tomato', 'Carrot', 'Onion']

In [ ]:
# A list is a collection which is ordered and changeable.
# List allows duplicate members.

thislist = ['Daniel', "Aarnick", "Damien", "Lilian", "Lois","tomato",'Daniel', "Aarnick", "Damien", "Lilian", "Lois","Carrot", "Onion"]
print(thislist)

['Daniel', 'Aarnick', 'Damien', 'Lilian', 'Lois', 'tomato', 'Daniel', 'Aarnick', 'Damien', 'Lilian', 'Lois', 'Carrot', 'Onion']

list

In [ ]:
# Obtain the datatype
type(name)

list

In [ ]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = ["Daniel", 34]
print(my_list)

['Daniel', 34]

In [ ]:
# Obtain the datatype
type(my_list)

list

In [ ]:
# You can have a list inside another list (nested list)
my_list1 = ["NAME",[3,5,8]]
print(my_list1)

['NAME', [3, 5, 8]]

In [ ]:
# Access specific elements in the list with Indexing
# Note  that the first element  in the list has an index of 0
my_list = [67,"Daniel", 34]
print(my_list[1])

Daniel

In [ ]:
# Indexing for nested list
my_list1 = ["NAME",[3,5,8]]
print(my_list1[1])

[3, 5, 8]

In [ ]:
# List Slicing (getting more than one element from a list)
my_list = [67,"Daniel", 34]
print(my_list[0:2])

[67, 'Daniel']

In [ ]:
# Obtain elements starting from index 3 to end
my_list = [67,"Daniel", 34,5,6,7,8,9]
print(my_list[3:])

[5, 6, 7, 8, 9]

In [ ]:
# All elements start to end
print(my_list[:])

[67, 'Daniel', 34, 5, 6, 7, 8, 9]

In [ ]:
# Obtain the length of the list
print(len(my_list))

8

**MINI CHALLENGE**

* Print NAME
* Print AGE, NAME, KOFI
* Print T with two different ways

  my_list = ["KWAMI", ["AGE", "NAME", "KOFI"], "YAW", "T"]

In [ ]:
# Change item value

thislist = ["apple", "banana",'Lilian']
thislist[2]="watermelon"
print(thislist)

['apple', 'banana', 'watermelon']

# **Python Objects and Data Structure Basics**

**Dictionaries**

 are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
# A dictionary is a collection which is ordered*,
# changeable and do not allow duplicates.

# Define a dictionary using key-value pairs
my_dict = {
    'key1':'value1',
    'key2':'value2',
    'key3':'value3',
}

# view the dictionary
my_dict

#  type
type(my_dict)

dict

In [ ]:
# Access a specific element in the dictionary
my_dict['key3']

'value3'

In [ ]:
#  We will create a dict to store a brand of a car, model and year
myCar = {
    'brand': 'Ford',
    'model': "Mustang",
    'year': 1964
}
# myCar
print(myCar)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Define a dictionary for a bank client listing all their assets!
myClient = {
    "Daniel": 150000,
    "Lilian" : 10000,
    "Damien" : 9000,
    "Aarnik": 30000
}

print(myClient)

{'Daniel': 150000, 'Lilian': 10000, 'Damien': 9000, 'Aarnik': 30000}

In [ ]:
# Assignment

# Define a dictionary for a school listing 5 students and thier school fees

school_fees = {
    "Daniel": 150000,
    "Lilian" : 10000,
    "Damien" : 9000,
    "Aarnik": 30000,
    "Marshal": 40000
}
print(school_fees)

# Adding a new item to the existing dictionary
school_fees["Lios"] = 1500
print(school_fees)

# Remove an item from the dictionary
del school_fees["Lios"]
print(school_fees)

{'Daniel': 150000, 'Lilian': 10000, 'Damien': 9000, 'Aarnik': 30000, 'Marshal': 40000}
{'Daniel': 150000, 'Lilian': 10000, 'Damien': 9000, 'Aarnik': 30000, 'Marshal': 40000, 'Lios': 1500}
{'Daniel': 150000, 'Lilian': 10000, 'Damien': 9000, 'Aarnik': 30000, 'Marshal': 40000}

In [ ]:
# To delete the entire dictionary
del (school_fees)

NameError: name 'school_fees' is not defined

In [ ]:
# Access a specific element in the dictionary
school_fees['Aarnik']

30000

**Assignment 28th January, 2024**

Create a dictionary with 6 of your favourite items and their prices

In [ ]:
favourite_items = {
    "milo": 150000,
    "Milk" : 10000,
    "Soap" : 9000,
    "Omo": 30000,
    "Sugar": 40000
}
print(favourite_items)

{'milo': 150000, 'Milk': 10000, 'Soap': 9000, 'Omo': 30000, 'Sugar': 40000}

**Tuples with Python**

Tuples are used to store multiple items in a single variable

In [ ]:
# Tuples are sequences, just like lists
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

tuple_1 = ("NAME", 'AGE', 10, 15, 1999);
tuple_2 = (450, 55, 977, 2100);
print(tuple_1)

('NAME', 'AGE', 10, 15, 1999)

In [ ]:
# Accessing elements in the tuple
tuple_1[1]

'AGE'

In [ ]:
# Accessing elements in the tuple using slicing
tuple_1[1:3]

('AGE', 10)

In [ ]:
# Finding the len of tuple_1
len(tuple_1)

5

In [ ]:
# Finding the type of tuple_1
type(tuple_1)

tuple

In [ ]:
# Concate both tuples
tuple_1 = ("NAME", 'AGE', 10, 15, 1999);
tuple_2 = (450, 55, 977, 2100);

tuple_3 = tuple_1 + tuple_2
print(tuple_3)

('NAME', 'AGE', 10, 15, 1999, 450, 55, 977, 2100)

**Set in Python**

A set is a collection of unique data, meaning that elements within a set cannot be duplicated.

In [ ]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

my_set = {'NAME', 'AGE', 'T'}
print(my_set)

{'T', 'AGE', 'NAME'}

In [ ]:
# Set do not have duplicates
my_set1 = {'NAME', 'AGE', 'T', 'SEX', 'T', 'AGE'}
print(my_set1)

{'T', 'AGE', 'SEX', 'NAME'}

In [ ]:
len(my_set1)

4

In [ ]:
type(my_set1)

set

**Add and Update Set Items in Python**

In [ ]:
numbers = {21, 34, 54, 12}
print('Initial Set: ', numbers)

# Using add() method
numbers.add(32)
print('Updated Set: ', numbers)

Initial Set:  {34, 12, 21, 54}
Updated Set:  {32, 34, 12, 21, 54}

In [ ]:
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']

# Using update() method
companies.update(tech_companies)

print(companies)

{'Ralph Lauren', 'google', 'apple', 'Lacoste'}

**Remove an Element from a Set**

In [ ]:
languages = {'PHP', 'JavaScript', 'HTML', 'CSS', 'Python', 'MySQL', 'Booststrap', 'Java', 'Laravel'}
print('Initial Set: ', languages)

# remove 'Booststrap' from the set
removeValue = languages.discard('Booststrap')
print('Set after remove(): ', languages)

Initial Set:  {'HTML', 'PHP', 'Java', 'Booststrap', 'JavaScript', 'CSS', 'Laravel', 'Python', 'MySQL'}
Set after remove():  {'HTML', 'PHP', 'Java', 'JavaScript', 'CSS', 'Laravel', 'Python', 'MySQL'}

**Booleans in Python**

Boolean values can be represented as one of two constant objects "False" and "True".

Booleans behave like integers 0 and 1.

True

In [ ]:
number_of_goats = 100
number_of_sheep = 200

print(number_of_goats == number_of_sheep)

False

In [ ]:
number_of_boys = 100
number_of_girls = 100

print(number_of_boys == number_of_girls)

True

**Assignments on Tuple, Set and Boolean**

3rd February, 2024

**MINI CHALLENGE #1:**

* **What will this code generate?**
```
      number_of_pens = 20
      number_of_bicycles = 30
      print((number_of_pens < number_of_bicycles))
      print(number_of_pens == number_of_bicycles)
```

In [ ]:
number_of_pens = 20
number_of_bicycles = 30
print((number_of_pens < number_of_bicycles))
print(number_of_pens == number_of_bicycles)

True
False

**MINI CHALLENGE #2:**

**Define a tuple with your first name, last name, age and the number of friends you have. Find the length and type as well.**

In [ ]:
myTuple = ("Gabby", 'Marshal', 10, 15);

print(myTuple)

print(len(myTuple))


print(type(myTuple))

('Gabby', 'Marshal', 10, 15)
4
<class 'tuple'>

# **Python Comparison Operators**

Operators are used to perform operations on variables and values.

In [ ]:
# Comparison Operator output could be "True" or "False"
#  Let's cover equall'==' comparison
# It's simply a question: "Is number_of_girls equals number_of_boys or not?"
# "True" output means condition is satisfied
# "False" output means Condition is not satisfied (condition is not true)

number_of_females = 1000
number_of_males = 1000

number_of_females == number_of_males

True

In [ ]:
# Greater than or equal operator '>='

number_of_females = 5000
number_of_males = 1000

number_of_females >= number_of_males

True

In [ ]:
# Less than or equal operator '>='

number_of_females = 5000
number_of_males = 1000

number_of_females <= number_of_males

False

In [ ]:
# Not equal operator '!='

number_of_females = 1000
number_of_males = 1000

number_of_females != number_of_males

False

**Assignment**

4th February, 2024

```
number_of_books = 15
number_of_pens = 10

Use the above variables to perform the below operations
* <
* >
* <=
* >=
* !=
* ==
```

**Chaining Comparison Operators in Python with Logical Operators**

In [ ]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True"
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
True and True

True

In [ ]:
# 0 and 1 = 0
False and True

False

In [ ]:
# 1 and 1 = 1

True and True

True

In [ ]:
# 1 or 1 = 1
True or True

True

In [ ]:
False or False

False

In [ ]:
(12==10) or (9>3)

False

In [ ]:
(12==10) and (9>3)

False

**MINI CHALLENGE #2:**

    * **Without executing the code cell, What will these two lines of code generate?**

    print('PYTHON'!='PYTHON' and (10 > 3) and (20 == 20))
    print('Python'!='PYTHON' or (16 > 20) or (25 == 25))

In [ ]:
print('PYTHON'!='PYTHON' and (10 > 3) and (20 == 20))

False

In [ ]:
print('Python'!='PYTHON' or (16 > 20) or (25 == 25))

True

**MINI CHALLENGE #3:**

    Without executing the code cell, What will these two lines of code generate?
    a = 5
    b = 3.5

    print(a == b or a != b)
    print(a == b and a != b)

# **Python Statement**

The **if** statement contains a logical expression using which data is compared and a decision is made based on the result of the comparison.

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than

In [ ]:
a = 33
b = 200

if b != a:
  print("b is not equal to a")

b is not equal to a

In [ ]:
a = 200
b = 200

if b == a:
  print("b is equal to a")

b is equal to a

**Example**

Damien amount of sobolo bought with it applicable discount

In [ ]:
# If Statement

sobolo_discount = 0
sobolo_amount = 10

# Check his amount of sobolo bought
if sobolo_amount > 5:
  sobolo_discount = sobolo_amount * 10/100

  print("amount to be paid= ", sobolo_amount - sobolo_discount)

amount to be paid=  9.0

In [ ]:
# Elif

a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
# Elif Statement

sobolo_discount = 0
sobolo_amount = 30

# Check his amount of sobolo bought
if sobolo_amount > 20:
     sobolo_discount = sobolo_amount * 15/100
elif  sobolo_amount > 5:
  sobolo_discount = sobolo_amount * 10/100

  print("amount to be paid= ", sobolo_amount - sobolo_discount)

In [ ]:
# Else statement

a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
# if, Elif and Else Statement

sobolo_discount = 0
sobolo_amount = 30

# Check his amount of sobolo bought
if sobolo_amount > 20:
     sobolo_discount = sobolo_amount * 15/100
elif  sobolo_amount > 5:
  sobolo_discount = sobolo_amount * 10/100
else:
   sobolo_discount = 0

print("amount to be paid= ", sobolo_amount - sobolo_discount)

amount to be paid=  25.5

**Assignment**

Consider an example of a customer entitiled to **10%** discount if his purchase amount is **> 1000;** if not, then no discount is applicable.

In [ ]:
# if, Elif and Else Statement

discount = 0
purchase_amount = 2000

# Check for the logic
if purchase_amount > 1000:
     discount = purchase_amount * 15/100
elif purchase_amount > 900:
    discount = purchase_amount * 10/100
else:
    discount = 0

print("amount to be paid= ", purchase_amount - discount)

amount to be paid=  1700.0

**For Loops in Python**

In [ ]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string)

languages = ['Swift', 'Python', 'PHP', 'PostgresSQL']

# access elements of the list one by one
for i in languages:
  print(i)

Swift
Python
PHP
PostgresSQL

In [ ]:
# Loop through a string

language = 'Python'

# iterate over each character in language
for x in language:
  print(x)

P
y
t
h
o
n

In [ ]:
# Loop through numbers

primes = [2, 3, 4, 7]
#  iterate over the prime numbers
for prime in primes:
  print(prime)

2
3
4
7

In [ ]:
names = ('Aarmink', 'Damien', 'Lilian', 'Lois')

for name in names:
  print(name)

Aarmink
Damien
Lilian
Lois

In [ ]:
# Example

# Write a programe to loop the below tuples

my_tuple = [1, 2, 3, 4, 5]

for tuple in my_tuple:
  print(tuple)

1
2
3
4
5

In [ ]:
# Example

# Write a programe to loop the below list

my_list = [1, 2, 3, 4, 5]

for list in my_list:
  print(list)

1
2
3
4
5

In [ ]:
# Example

# Write a programe to loop the below dictionary

my_dict = {
    "milo": 150000,
    "Milk" : 10000,
    "Soap" : 9000,
    "Omo": 30000,
    "Sugar": 40000
}

for key in my_dict:
  print(key)

milo
Milk
Soap
Omo
Sugar

In [ ]:
# Example

# Write a programe to loop the below dictionary

my_dict = {
    "milo": 150000,
    "Milk" : 10000,
    "Soap" : 9000,
    "Omo": 30000,
    "Sugar": 40000
}

for key in my_dict:
  print(key, my_dict[key])

In [ ]:
# Example

# Write a programe to loop the below dictionary

my_dict = {
    "milo": 150000,
    "Milk" : 10000,
    "Soap" : 9000,
    "Omo": 30000,
    "Sugar": 40000
}

for key, value in my_dict.items():
  print(key, value)

In [ ]:
# Example

# itereate over the below dictionary elements
school_fees = {
    "Daniel": 150000,
    "Lilian" : 10000,
    "Damien" : 9000,
    "Aarnik": 30000,
    "Marshal": 40000
}

for key, value in school_fees.items():
  print(key, value)

Daniel 150000
Lilian 10000
Damien 9000
Aarnik 30000
Marshal 40000

**for Loop with Python range()**

In [ ]:
#  In Python, the range() function returns a sequence of numbers. For example,

values = range(5)

# Using a for loop to iterate
# iterate from i = 0 to i = 3
for i in values:
  print(i)

0
1
2
3
4

In [ ]:
# Range of numbers from 1 to 20 with steps of 2
for x in range(1, 20, 2):
  print(x)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a programe to loop a number for 0 to 30 using the range() function
for n in range(30):
  print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
for item in my_tuple:
    print(item + 5)

15
25
35
45
55

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
for item in my_tuple:
    print(item * 5)

50
100
150
200
250

In [ ]:
# Print table header
print("Number  Square  Cube")

# Generate and print table
for i in range(1, 11):
    square = i ** 2
    cube = i ** 3
    print(f"{i:5} {square:7} {cube:6}")

Number  Square  Cube
    1       1      1
    2       4      8
    3       9     27
    4      16     64
    5      25    125
    6      36    216
    7      49    343
    8      64    512
    9      81    729
   10     100   1000

**While Loops in Python**

In [ ]:
# In Python we use the while loop to repeat a block of code until a certain condition is met or satisfied

# Example
number = 1

while number <= 3:
  print(number)
  number = number + 1

1
2
3

In [ ]:
# Calculate the sum of numbers until user enters 0

number = int(input('Enter a number" '))

total = 0

# iterate until the user enters 0
while number != 1:
  total += number
  number = int(input('Enter a number: '))
print('The sum is', total)

Enter a number" 1
The sum is 0

In [ ]:
# Repeat with while

x = 0
while x < 5:
  print(x)
  x += 1

0
1
2
3
4

In [ ]:
# Cancel with 'break'

while True:
  num = int(input('Enter a number or enter 0 to exit'))
  if num == 0:
    break
print('You entered: ', num)

Enter a number or enter 0 to exit45
Enter a number or enter 0 to exit78
Enter a number or enter 0 to exit89
Enter a number or enter 0 to exit100
Enter a number or enter 0 to exit0
You entered:  0

In [ ]:
#  Skip with 'continue'

i = 1
while i < 10:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6
7
8
9
10

In [ ]:
while True:
  name = input('Enter your name  ')
  age = int(input('Enter your age to confirm voting'))
  if age >= 18:
    print('Hi! ', name)
    print('You are qualified to vote', age)
  elif age <= 10:
    print('Hi! ', name)
    print('Go and sleep')
  else:
    print('Hi! ', name)
    print('You are not qualified to vote', age)

Go and sleep

KeyboardInterrupt: Interrupted by user

In [ ]:
# Assignment

# Write a code the check the ages of learners who are qualified to embark on an excursion
# A learner below the age of 10yrs is not qualified to go

In [ ]:
# Checking ages to comfirm eligibility to vote

# age = 40

# while age > 18:
#   print('You are qualified to vote')

In [ ]:
# Assignment

# Print the output for the below

num = 10
while num > 0:
  print(num)
  num -= 2

10
8
6
4
2

**Useful Operators in Python**

In [ ]:
# Arithmetic Operators
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)

13
7
30

**List Comprehension in Python**

List Comprehension offers a shorter syntax when you want to create a new list based on the existing list

In [ ]:
# Example:
# Based on a list of friuts, we will create a new list containing only the fruits with the letter "a" in the name

# fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
# newlist = []

# for fruit in fruits:
#   if "a" in fruit:
#     newlist.append(fruit)

# print(newlist)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [l for l in fruits if "a" in l]

# Seeting the values in UPPER CASE
newlist1 = [x.upper() for x in fruits if "a" in x]

print(newlist)
print(newlist1)

# Check and print out the fruit with "n" in the name

['apple', 'banana', 'mango']
['APPLE', 'BANANA', 'MANGO']

In [ ]:
# Example 2:
# Creating a list of squares using list comprehension
squares = [x ** 2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Example 3:
# Create a list of even numbers using list comprehansion
even_numbers = [d for d in range(10) if d % 2 == 0 ]

print(even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
# Example 4:
# Inserting a square from 1 to 10 to list and print the list

# Getting square of numbers from 1 to 10
squares = [a**2 for a in range(1, 11)]

# Displaying square on even numbers
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Assignment

# Find the length of the  below using list comprehension

words = ["apple", "banana", "cherry", "kiwi", "mango"]
length = [a for a in words]
word_length = [len(word) for word in words]
print(word_length)

print(len(length))

[5, 6, 6, 4, 5]
5

In [ ]:
sentence = (
 "The rocket, who was named Ted, came back "
 "from Mars because he missed his friends."
)
def is_consonant(letter):
  vowels = "aeiou"
  return letter.isalpha() and letter.lower() not in vowels


[char for char in sentence if is_consonant(char)]
['T', 'h', 'r', 'c', 'k', 't', 'w', 'h', 'w', 's', 'n', 'm', 'd',
 'T', 'd', 'c', 'm', 'b', 'c', 'k', 'f', 'r', 'm', 'M', 'r', 's', 'b',
 'c', 's', 'h', 'm', 's', 's', 'd', 'h', 's', 'f', 'r', 'n', 'd', 's']

# **Methods and Functions**

A function is a block of code which **only runs when it is called**

We pass data, known as parameters into a function

A function can return data as a result

In [ ]:
# Using methods with list
myList = [1, 2, 3, 4, 5]

# Append method will add an element to the list
myList.append(6)
print(myList)

# Remove an element from the list using the remove method
myList.remove(3)
print(myList)

# Python sort list method
# Example:
# Sorting out element in prices in ascending order
prices = [232.11, 247.81, 238.91]
prices.sort()
print(prices)

# Example
# Using type()

student = {'Daniel', 1.73, 'Lois', 1.89}
type(student)

#  Using the extend()
l = [1, 2, 3, 4]
l.extend([5,6])
l

# Using the index()
months  = ['January', 'February', 'March']
months.index('March')

# Using the max()
age = [10, 8, 9]
print(max(age))
print(min(age))

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[232.11, 238.91, 247.81]
10
8

In [ ]:
# In python a function is defined using the def keyword

# Example:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_siblings(fname):
  print(fname + " Donkor")

my_siblings("Neo")
my_siblings("Blay")

Neo Donkor
Blay Donkor

In [ ]:
def myCountry(country = 'United State'):
  print('I am from ' + country)
myCountry()
myCountry('Ghana')

I am from United State
I am from Ghana

In [ ]:
def greet(name):
  print('Hello, ' + name + '!')

greet('Lilian')
greet('Lois')

Hello, Lilian!
Hello, Lois!

In [ ]:
def add(a, b):
  return a * b

# Calling the function and storing the results in a variable
result = add(3, 5)
print(result)

15

In [ ]:
# Assignment

# Define 5 python function

**PROJECT TOPICS**

**March, 2024 Project**
1. Daniel = Caculator Project
2. Aarnick = Quiz Project
3. Lois  = Shopping List Project not To Do List Project
4. Damien =  Quiz Project
4. Lilian = Calculator Project

**PROJECT SAMPLES**

SHOPPING CART

In [ ]:
# Storing all products in a dictionary
products = {
    "apple": 5.00,
    "banana": 10.00,
    "orange": 2.00,
    "grapes": 15.00,
    "watermelon": 50.00
}

# Function to calculate the total price of products in the cart
def calculate_total_price(cart):
    total_price = 0
    for item, quantity in cart.items():
        if item in products:
            total_price += products[item] * quantity
        else:
            print(f"Warning: {item} is not available.")
    return total_price

# Function to display the available products with prices
def display_available_products():
    print("Available products with prices:")
    for product, price in products.items():
        print(f"{product}: ${price:.2f}")

# Function to add a product to the cart
def add_to_cart(cart):
    product = input("Enter the product name to add: ").lower()
    if product not in products:
        print(f"Warning: {product} is not available.")
        return
    quantity = int(input(f"Enter the quantity of {product} to add: "))
    if product in cart:
        cart[product] += quantity
    else:
        cart[product] = quantity
    print(f"{quantity} {product}(s) added to the cart.")

# Function to delete a product from the cart
def delete_from_cart(cart):
    product = input("Enter the product name to delete: ").lower()
    if product not in cart:
        print(f"{product} is not in the cart.")
        return
    del cart[product]
    print(f"{product} removed from the cart.")

# Function to modify the quantity of a product in the cart
def modify_cart_quantity(cart):
    product = input("Enter the product name to modify quantity: ").lower()
    if product not in cart:
        print(f"{product} is not in the cart.")
        return
    quantity = int(input(f"Enter the new quantity of {product}: "))
    cart[product] = quantity
    print(f"Quantity of {product} updated to {quantity}.")

# Display available products with prices
display_available_products()

# Ask the customer to input the products they want to buy
cart = {}
while True:
    print("Enter 'add' to add a product, 'delete' to remove a product, 'modify' to change the quantity of a product, or 'done' to finish shopping.")
    option = input("Enter your choice: ").lower()
    if option == "done":
        break
    elif option == "add":
        add_to_cart(cart)
    elif option == "delete":
        delete_from_cart(cart)
    elif option == "modify":
        modify_cart_quantity(cart)
    else:
        print("Invalid option. Please enter 'add', 'delete', 'modify', or 'done'.")

# Calculate the total price of the products in the cart
total_price = calculate_total_price(cart)
print("Total price of the products in the cart:", total_price)

**Calculator Project**

In [ ]:
# Function to perform addition
def add(x, y):
    return x + y

# Function to perform subtraction
def subtract(x, y):
    return x - y

# Function to perform multiplication
def multiply(x, y):
    return x * y

# Function to perform division
def divide(x, y):
    if y == 0:
        return "Error! Division by zero is not allowed."
    else:
        return x / y

# Function to display the available operations
def display_operations():
    print("Available operations:")
    print("1. Addition (+)")
    print("2. Subtraction (-)")
    print("3. Multiplication (*)")
    print("4. Division (/)")

# Function to validate operation input
def validate_operation(operation):
    if operation not in ['1', '2', '3', '4']:
        print("Invalid operation. Please enter a valid operation number.")
        return False
    return True

# Function to validate number input
def validate_number(num_str):
    if num_str.replace(".", "", 1).isdigit():  # Check if the string is a number
        return True, float(num_str)
    else:
        print("Invalid input. Please enter a valid number.")
        return False, None

# Function to ask the user if they want to continue
def ask_continue():
    choice = input("Do you want to perform another operation? (yes/no): ").lower()
    return choice == 'yes'

# Display an introductory message
print("Welcome to Simple Calculator!")

# Display available operations
display_operations()

# Main loop
while True:
    # Ask the user to select an operation and validate input
    operation = input("Enter the operation number (1/2/3/4): ")
    while not validate_operation(operation):
        operation = input("Enter the operation number (1/2/3/4): ")

    # Ask the user to input the first number and validate input
    num1_valid = False
    while not num1_valid:
        num1_str = input("Enter the first number: ")
        num1_valid, num1 = validate_number(num1_str)

    # Ask the user to input the second number and validate input
    num2_valid = False
    while not num2_valid:
        num2_str = input("Enter the second number: ")
        num2_valid, num2 = validate_number(num2_str)

    # Perform the selected operation
    if operation == '1':
        print("Result:", add(num1, num2))
    elif operation == '2':
        print("Result:", subtract(num1, num2))
    elif operation == '3':
        print("Result:", multiply(num1, num2))
    elif operation == '4':
        print("Result:", divide(num1, num2))

    # Ask if the user wants to continue
    if not ask_continue():
        break

Welcome to Simple Calculator!
Available operations:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
Result: -1.0

**To Do List Project**

In [ ]:
# Function to display the To-Do List
def display_todo_list(todo_list):
    if not todo_list:
        print("Your To-Do List is empty.")
    else:
        print("Your To-Do List:")
        for index, (task, completed) in enumerate(todo_list, start=1):
            status = "✓" if completed else "○"
            print(f"{index}. [{status}] {task}")

# Function to add a task to the To-Do List
def add_task(todo_list, task):
    todo_list.append((task, False))
    print(f"Task '{task}' added to the To-Do List.")

# Function to remove a task from the To-Do List
def remove_task(todo_list, task_number):
    if task_number < 1 or task_number > len(todo_list):
        print("Invalid task number. Please enter a valid task number.")
    else:
        removed_task = todo_list.pop(task_number - 1)
        print(f"Task '{removed_task[0]}' removed from the To-Do List.")

# Function to mark a task as completed
def mark_completed(todo_list, task_number):
    if task_number < 1 or task_number > len(todo_list):
        print("Invalid task number. Please enter a valid task number.")
    else:
        todo_list[task_number - 1] = (todo_list[task_number - 1][0], True)
        print(f"Task '{todo_list[task_number - 1][0]}' marked as completed.")

# Function to mark a task as uncompleted
def mark_uncompleted(todo_list, task_number):
    if task_number < 1 or task_number > len(todo_list):
        print("Invalid task number. Please enter a valid task number.")
    else:
        todo_list[task_number - 1] = (todo_list[task_number - 1][0], False)
        print(f"Task '{todo_list[task_number - 1][0]}' marked as uncompleted.")

# Main function
def main():
    todo_list = []

    while True:
        print("\nTo-Do List Menu:")
        print("1. Display To-Do List")
        print("2. Add Task")
        print("3. Remove Task")
        print("4. Mark Task as Completed")
        print("5. Mark Task as Uncompleted")
        print("6. Quit")

        choice = input("Enter your choice (1/2/3/4/5/6): ")

        if choice == '1':
            display_todo_list(todo_list)
        elif choice == '2':
            task = input("Enter the task to add: ")
            add_task(todo_list, task)
        elif choice == '3':
            display_todo_list(todo_list)
            if todo_list:
                task_number = int(input("Enter the task number to remove: "))
                remove_task(todo_list, task_number)
        elif choice == '4':
            display_todo_list(todo_list)
            if todo_list:
                task_number = int(input("Enter the task number to mark as completed: "))
                mark_completed(todo_list, task_number)
        elif choice == '5':
            display_todo_list(todo_list)
            if todo_list:
                task_number = int(input("Enter the task number to mark as uncompleted: "))
                mark_uncompleted(todo_list, task_number)
        elif choice == '6':
            print("Thank you for using the To-Do List. Goodbye!")
            break
        else:
            print("Invalid choice. Please enter a valid option (1/2/3/4/5/6).")

if __name__ == "__main__":
    main()

To-Do List Menu:
1. Display To-Do List
2. Add Task
3. Remove Task
4. Mark Task as Completed
5. Mark Task as Uncompleted
6. Quit
Your To-Do List is empty.

To-Do List Menu:
1. Display To-Do List
2. Add Task
3. Remove Task
4. Mark Task as Completed
5. Mark Task as Uncompleted
6. Quit
Invalid choice. Please enter a valid option (1/2/3/4/5/6).

To-Do List Menu:
1. Display To-Do List
2. Add Task
3. Remove Task
4. Mark Task as Completed
5. Mark Task as Uncompleted
6. Quit
Your To-Do List is empty.

To-Do List Menu:
1. Display To-Do List
2. Add Task
3. Remove Task
4. Mark Task as Completed
5. Mark Task as Uncompleted
6. Quit

**QUIZ PROJECT**

In [ ]:
# Define a dictionary to store the quiz questions, each with a list of possible answers and the correct answer
quiz_questions = {
    "What is the capital of France?": {
        "options": ["A. London", "B. Paris", "C. Rome", "D. Berlin"],
        "answer": "B"
    },
    "Who wrote 'Romeo and Juliet'?": {
        "options": ["A. Charles Dickens", "B. William Shakespeare", "C. Jane Austen", "D. Mark Twain"],
        "answer": "B"
    },
    "What is the chemical symbol for water?": {
        "options": ["A. H2O", "B. CO2", "C. NaCl", "D. O2"],
        "answer": "A"
    },
    "What is the largest planet in our solar system?": {
        "options": ["A. Mercury", "B. Venus", "C. Earth", "D. Jupiter"],
        "answer": "D"
    },
    "What year did the Titanic sink?": {
        "options": ["A. 1910", "B. 1912", "C. 1920", "D. 1930"],
        "answer": "B"
    }
}

# Function to administer the quiz
def administer_quiz(questions):
    score = 0
    total_questions = len(questions)

    # Iterate over each question in the quiz
    for question, data in questions.items():
        print(question)
        for option in data["options"]:
            print(option)
        user_answer = input("Your answer (Enter the letter corresponding to your choice): ")

        # Check if the user's answer is correct
        if user_answer.upper() == data["answer"]:
            print("Correct!")
            score += 1
        else:
            print(f"Sorry, the correct answer is: {data['answer']}")

    # Display the final score
    print(f"\nQuiz completed! You scored {score} out of {total_questions}.")

# Main function to start the quiz
def main():
    print("Welcome to the Quiz!")

    # Administer the quiz
    administer_quiz(quiz_questions)

# Execute the main function
if __name__ == "__main__":
    main()

Welcome to the Quiz!
What is the capital of France?
A. London
B. Paris
C. Rome
D. Berlin
Your answer (Enter the letter corresponding to your choice): a
Sorry, the correct answer is: B
Who wrote 'Romeo and Juliet'?
A. Charles Dickens
B. William Shakespeare
C. Jane Austen
D. Mark Twain
Your answer (Enter the letter corresponding to your choice): b
Correct!
What is the chemical symbol for water?
A. H2O
B. CO2
C. NaCl
D. O2
Your answer (Enter the letter corresponding to your choice): a
Correct!
What is the largest planet in our solar system?
A. Mercury
B. Venus
C. Earth
D. Jupiter
Your answer (Enter the letter corresponding to your choice): c
Sorry, the correct answer is: D
What year did the Titanic sink?
A. 1910
B. 1912
C. 1920
D. 1930
Your answer (Enter the letter corresponding to your choice): q
Sorry, the correct answer is: B

Quiz completed! You scored 2 out of 5.

**RANDOM MATH QUIZ**

In [ ]:
import random

OPERATORS = ["+", "-", "/"]
MIN_OPERAND = 3
MAX_OPERAND = 12
TOTAL_PROBLEMS = 10

def generate_problem():
    left = random.randint(MIN_OPERAND, MAX_OPERAND)
    right = random.randint(MIN_OPERAND, MAX_OPERAND)
    operator = random.choice(OPERATORS)

    expr = str(left) + " " + operator + " " + str(right)
    answer = eval(expr)
    return expr, answer

score = 0

# Prompt the user to input their name
name = input("Welcome! \nPlease enter your name: ")

for i in range(TOTAL_PROBLEMS):
    expr, answer = generate_problem()
    while True:
        guess = input("Problem #" + str(i + 1) + ": " + str(expr) + " = ")
        if guess == str(answer):
            score += 1
            print("Correct!")
            break
        else:
            print("Incorrect. The correct answer is:", answer)
            break

print("Hi {}, you got {} out of {} correct!".format(name, score, TOTAL_PROBLEMS))

Incorrect. The correct answer is: 13

KeyboardInterrupt: Interrupted by user